//- content
.banner-slider
    .container
        .slide-banner.splide(role='group' aria-label='Splide Basic HTML Example')
            .splide__track
                ul.splide__list
                    li.splide__slide
                        .card-img
                            img(src="../api/get_image/6a48e781b6df0ddb4a1ad8a831cc13e2.png", alt="")
                    li.splide__slide
                        .card-img
                            img(src="../api/get_image/6a48e781b6df0ddb4a1ad8a831cc13e2.png", alt="")
                    li.splide__slide
                        .card-img
                            img(src="../api/get_image/6a48e781b6df0ddb4a1ad8a831cc13e2.png", alt="")
//- script
script(type="module" src="../js/banner-slider.js")