
.product-slider
    div.container
        .content-slider
            h1 Shirt 
        div.card-carousel
            .splide.splide-product(role='group' aria-label='Splide Basic HTML Example')
                .splide__track
                    ul.splide__list
                        li.splide__slide 
                            div.card-block
                                div.card-img
                                    img(src="../api/get_image/13890009af58a4e30c5fa5802f5864cc.png", alt="")
                                div.card-info
                                    p Product name
                                div.card-controller
                                    div.card-controller-block
                                        a.btn-card-controller( href="") More
                                    div.card-controller-block
                                        a.btn-card-controller( href="") Add to card
                        li.splide__slide 
                            div.card-block
                                div.card-img
                                    img(src="../api/get_image/13890009af58a4e30c5fa5802f5864cc.png", alt="")
                                div.card-info
                                    p Product name
                                div.card-controller
                                    div.card-controller-block
                                        a.btn-card-controller( href="") More
                                    div.card-controller-block
                                        a.btn-card-controller( href="") Add to card
                        li.splide__slide 
                            div.card-block
                                div.card-img
                                    img(src="../api/get_image/13890009af58a4e30c5fa5802f5864cc.png", alt="")
                                div.card-info
                                    p Product name
                                div.card-controller
                                    div.card-controller-block
                                        a.btn-card-controller( href="") More
                                    div.card-controller-block
                                        a.btn-card-controller( href="") Add to card
                        li.splide__slide 
                            div.card-block
                                div.card-img
                                    img(src="../api/get_image/13890009af58a4e30c5fa5802f5864cc.png", alt="")
                                div.card-info
                                    p Product name
                                div.card-controller
                                    div.card-controller-block
                                        a.btn-card-controller( href="") More
                                    div.card-controller-block
                                        a.btn-card-controller( href="") Add to card
                        li.splide__slide 
                            div.card-block
                                div.card-img
                                    img(src="../api/get_image/13890009af58a4e30c5fa5802f5864cc.png", alt="")
                                div.card-info
                                    p Product name
                                div.card-controller
                                    div.card-controller-block
                                        a.btn-card-controller( href="") More
                                    div.card-controller-block
                                        a.btn-card-controller( href="") Add to card
script(type="module" src="../js/product-slider.js") 
                                