doctype html
html(lang="vi")
    head
    body 
        .profile__side-bar
            ul.menu__side-bar
                li#account.menu-item__side-bar.actived
                   a(href="../page/account.html") Account
                li#cart.menu-item__side-bar
                    a(href="../page/account.html") Cart
                li#history.menu-item__side-bar
                    a(href="../page/history.html") History
                li#userlist.menu-item__side-bar
                    a(href="../page/userlist.html") User List
                li#edit-page.menu-item__side-bar
                    a(href="../page/edit-page.html") Edit Page
                li#dashboard.menu-item__side-bar
                    a(href="../page/dashboard.html") Dash board
        script(type="module" src="../js/profile__side-bar.js") 
        