doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title welcome-page
    body 
        .welcome-page   
            .container
                .welcome-page__block 
                    <video class="welcome-page__video" autoplay muted loop plays-inline>
                        //- <source class="" src="../video/welcome-page.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    .welcome-page-bottom__block
                        h1.welcome-page__title WELCOME TO THE THANG MEO
                        p.welcome-page__msg Shop all the favorite essentials in one place. Green Juice food truck XOXO brunch jean top knot jeans and heels sexy blush pink and black unicorn, pixie dust and more.       
        script(src='../../bundle.js')