doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  body
    include ./layout/header.pug
    include ./layout/banner-slider.pug
    include ./layout/product-slider.pug
    //- img(src="/api/get_image/b07f509107330f60edc3d6c04c3b6426.jpg", alt="", srcset="")
    noscript  PiedTeam 
    script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js")
    
    //- khúc này là chèn cái file bundle zô để khi express gọi
     mấy thằng html webpack bundle ra sẽ đéo bị lỗi
    script(src='../bundle.js')

